<section id="fondo">
	<div id="textos">
		<p>
			Una estructura secuencial es aquella en la que una acción (instrucción) sigue a otra en secuencia. Las tareas se suceden de tal modo
			que la salida de una es la entrada de la siguiente y así sucesivamente hasta el final del proceso, le estructura de control secuencial 
			consta de:
			<br>
			<ul>
				<li>Entradas.</li>
				<li>Acciones.</li>
				<li>Salidas.</li>
			</ul>	
		
		</p>
	</div>
</section>
